[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cloudinary = "*"
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-jwt-extended = "*"
flask-migrate = "*"
flask-bcrypt = "*"
gunicorn = "==20.1.0"
psycopg2-binary = "*"

werkzeug = "*"

[dev-packages]

[requires]
python_version = "3.9"
